:root {
  --app-primary: #3da5d9;
  --app-primary-dark: #2364aa;
  --app-secondary: #fec601;
  --app-secondary-dark: #ea7317;
  --app-tertiary:#73bfb8;

  --app-dark: #0d1b2a;
  --app-dark-light: #1b263b;
  --app-medium:#415a77;
  --app-light-dark: #778da9;
  --app-light: #e0e1dd;

  --app-error: #ec687c;
  --app-warning: #f09a69;
  --app-success: #b8d887;
}
