/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
//auto import with dynamic path
//@import '~bootstrap/scss/bootstrap';

//absolute path
@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import './stylings/fonts';
@import './stylings/layout';
@import './stylings/theme';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}
